@model IEnumerable<CategoryMenuViewComponent.CategoryViewModel>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Danh mục
    </a>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item d-flex justify-content-between align-items-center" asp-area="" asp-controller="TouristPlace" asp-action="Index" asp-route-categoryId="@category.Id">
                    <span>@category.Name</span>
                    
                </a>
            </li>
        }
    </ul>
</li>
