@model IEnumerable<RegionMenuViewComponent.RegionViewModel>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="regionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Vị trí
    </a>
    <ul class="dropdown-menu" aria-labelledby="regionDropdown">
        @foreach (var region in Model)
        {
            <li>
                <a class="dropdown-item d-flex justify-content-between align-items-center" asp-area="" asp-controller="TouristPlace" asp-action="Index" asp-route-regionId="@region.Id">
                    <span>@region.Name</span>
                    
                </a>
            </li>
        }
    </ul>
</li>
